body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.specials,
.hero-section,
.review,
.about,
.footer,
.navbar {
  padding: 1.5em;
}

p {
  font-family: Karla;
}

img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 0.5em;
}

button {
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
}
