.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.nav-links {
  display: flex;
  flex: 1;
  list-style-type: none;
  align-items: center;
}

.nav-links a {
  margin: 0 1em;
  color: black;
}

.hamburger {
  width: 5%;
  float: right;
  padding-top: 2.5em;
}

.hero-section {
  background-color: #495e57;
  color: white;
  padding-top: 0.2em;
  padding-bottom: 1.5em;
}

.hero-section h1 {
  color: #f4ce14;
  font-size: 64px;
  font-family: markazi;
  margin-bottom: 0em;
}

.hero-section h2 {
  color: white;
  font-size: 40px;
  font-family: markazi;
  margin-top: 0em;
}

.hero-section p {
  font-size: 18px;
  font-weight: bold;
  font-family: karla;
}

.hero-section img {
  display: none;
  width: 50%;
  border-radius: 16px;
}

.container1 {
  display: grid;
  grid-template-columns: 3.2fr 1fr;
}

.container1 h2 {
  margin-top: 0em;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  border-radius: 16px;
  margin: 0em;
}

.item {
  background-color: rgb(234, 234, 234);
  margin-top: 1em;
  padding-bottom: 1.5em;
  border-radius: 16px;
}

.item p,
.item a {
  margin: 0.5em;
}

.item h4 {
  font-family: Karla;
  font-size: 18px;
  margin: 0.5em;
}

.testimonials {
  background-color: #495e57;
  color: white;
  margin-top: 0.5em;
}

.test1 {
  text-align: center;
  padding-top: 1em;
}

.review {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0em;
}

.review img {
  display: none;
}

.about h1 {
  font-family: Karla;
  font-size: 40px;
  color: #f4ce14;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

.about h3 {
  margin-top: 0em;
  font-family: Markazi;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #495e57;
  color: white;
}

.footer ul {
  list-style-type: none;
  padding: 0em;
  font-size: 0.9em;
  font-family: karla;
  padding-bottom: 0.5em;
}

.footer img {
  padding-top: 1em;
}

.footer a {
  color: white;
  font-weight: normal;
}

@media (min-width: 768px) {
  .hero-section img,
  .review img {
    display: grid;
  }
}
