.navbar {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: auto;
  right: 100%;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo img {
  width: 200px;
}

.navbar-links {
  display: flex;
  flex: 1;
  list-style-type: none;
  align-items: center;
}

.navbar-links a {
  margin: 0 1em;
  color: black;
}

.navbar-mobile {
  display: none;
}

.navbar-mobile_links {
  list-style-type: none;
}

.navbar-mobile_links li {
  margin: 2em;
  font-family: Karla;
}

.navbar-mobile_overlay {
  display: none;
  padding: 1em 1.5em 0.5em 1.5em;
  cursor: pointer;
  background-color: white;
}

.navbar-mobile_overlay .overlay_close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hero-section {
  display: grid;
  grid-template-columns: 5fr 4fr;
  background-color: #495e57;
  color: white;
  padding-top: 0.2em;
  padding-bottom: 1.7em;
  margin: auto;
  height: 20%;
}

.hero-section h1 {
  color: #f4ce14;
  font-size: 64px;
  font-family: markazi;
  margin-bottom: 0em;
  margin-top: 0.2em;
}

.hero-section h2 {
  color: white;
  font-size: 40px;
  font-family: markazi;
  margin-top: 0em;
}

.hero-section p {
  font-size: 18px;
  font-weight: bold;
  font-family: karla;
}

.hero-section img {
  position: absolute;
  top: 15%;
  right: 15%;
  width: 250px;
}

form h2 {
  text-align: center;
}

.Field {
  padding: 1em 2em;
}

label {
  margin-right: 20px;
}

#res-date,
#res-time,
#guests,
#occasion {
  padding: 0.7em;
  border: none;
  border-radius: 6px;
  background-color: white;
}

.book {
  position: relative;
  left: 2em;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}
.container1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 5.5em;
}

.container1 h2 {
  margin-top: 0em;
}

.onlinemenu {
  float: right;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 1em;
  border-radius: 16px;
  margin: 0em;
}

.item {
  background-color: rgb(234, 234, 234);
  margin-top: 1em;
  padding-bottom: 1.5em;
  border-radius: 16px;
  line-height: 1.5em;
}

.item a {
  font-weight: bold;
}

.item h4,
.item p,
.item a {
  margin: 1em;
  color: black;
}

.item h4 {
  font-family: karla;
  font-size: 18px;
}

.price {
  float: right;
  color: #ee9972;
}

.deliveryicon {
  color: #495e57;
  position: relative;
  top: 8px;
}

.testimonials {
  background-color: #495e57;
  color: white;
  margin-top: 0.5em;
}

.test1 {
  text-align: center;
  padding-top: 1em;
}

.test2 h4 {
  text-align: center;
}
.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  border-radius: 16px;
  background-color: #495e57;
  grid-column-gap: 20px;
}

.about {
  display: grid;
  grid-template-columns: 4fr 5fr 5fr;
  margin-bottom: 4em;
}

.about h1 {
  font-family: Karla;
  font-size: 40px;
  color: #f4ce14;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

.about h3 {
  margin-top: 0em;
  font-family: Markazi;
}

.under {
  position: relative;
  left: 40px;
  top: 25%;
  z-index: -1;
}

.over {
  position: relative;
  left: 10px;
  top: 15%;
  z-index: -1;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #495e57;
  color: white;
}

.footer ul {
  list-style-type: none;
  padding: 0em;
  font-size: 0.9em;
  font-family: karla;
  padding-bottom: 0.5em;
}

.footer img {
  padding-top: 1em;
}

.footer a {
  color: white;
  font-weight: normal;
}

@media screen and (max-width: 900px) {
  .hero-section img,
  .review img {
    display: none;
  }

  .navbar-links {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    width: 70px;
    padding-top: 15px;
    right: 30px;
    cursor: pointer;
  }

  .navbar-mobile_overlay {
    display: flex;
    transition: 1s ease;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20px;
    right: 0px;
    background-color: #495e57;
    z-index: 5;
  }

  .navbar-mobile_links a {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  .hero-section {
    display: flex;
    flex: 1;
  }

  .container1 {
    display: grid;
    grid-template-columns: 3.2fr 1fr;
    padding-top: 2em;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .review {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 0em;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: auto;
  }

  .over,
  .under {
    position: static;
  }
}
